In [1]:
# Importing Required Library
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
# Set the path to the ChromeDriver executable
chrome_driver_path = r"C:\Users\Swapnil Alaspure\Documents\MIT Exam 2nd\WebScraping\chromedriver.exe"
# Create ChromeOptions object
chrome_options = webdriver.ChromeOptions()
# Instantiate the Chrome WebDriver with the specified options
driver = webdriver.Chrome(options=chrome_options)
# Open the URL
driver.get("https://finance.yahoo.com/quote/TSLA/history?period1=1293840000&period2=1700179200&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true")

In [3]:
# Our list empty list
table_headers = []
name_xpath = '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/thead/tr'
name = driver.find_element(By.XPATH, name_xpath).text
table_headers.append(name)
# Display the list
table_headers

['Date Open High Low Close* Adj Close** Volume']

In [4]:
# Rearranging 
tableHeaders = ['Date' ,'Open', 'High', 'Low Close*', 'Adj Close**' ,'Volume']
tableHeaders

['Date', 'Open', 'High', 'Low Close*', 'Adj Close**', 'Volume']

In [5]:
# Our list empty list
players_data = []
name_xpath = '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody'
name = driver.find_element(By.XPATH, name_xpath).text
players_data.append(name.replace(' ', ','))
# Display the list
players_data

['Nov,16,,2023,239.49,240.88,230.96,233.59,233.59,136,816,800\nNov,15,,2023,239.29,246.70,236.45,242.84,242.84,150,354,000\nNov,14,,2023,235.03,238.14,230.72,237.41,237.41,149,771,600\nNov,13,,2023,215.60,225.40,211.61,223.71,223.71,140,447,600\nNov,10,,2023,210.03,215.38,205.69,214.65,214.65,130,994,000\nNov,09,,2023,219.75,220.80,206.68,209.98,209.98,142,110,500\nNov,08,,2023,223.15,224.15,217.64,222.11,222.11,106,584,800\nNov,07,,2023,219.98,223.12,215.72,222.18,222.18,116,900,100\nNov,06,,2023,223.98,226.32,215.00,219.27,219.27,117,335,800\nNov,03,,2023,221.15,226.37,218.40,219.96,219.96,119,281,000\nNov,02,,2023,212.97,219.20,211.45,218.51,218.51,125,987,600\nNov,01,,2023,204.04,205.99,197.85,205.66,205.66,121,661,700\nOct,31,,2023,196.12,202.80,194.07,200.84,200.84,118,068,300\nOct,30,,2023,209.28,210.88,194.67,197.36,197.36,136,448,200\nOct,27,,2023,210.60,212.41,205.77,207.30,207.30,94,881,200\nOct,26,,2023,211.32,214.80,204.88,205.76,205.76,115,112,600\nOct,25,,2023,215.88,220.10,212.20,212.42,212.42,107,065,100\nOct,24,,2023,216.50,222.05,214.11,216.52,216.52,118,231,100\nOct,23,,2023,210.00,216.98,202.51,212.08,212.08,150,683,400\nOct,20,,2023,217.01,218.86,210.42,211.99,211.99,137,734,000\nOct,19,,2023,225.95,230.61,216.78,220.11,220.11,170,772,700\nOct,18,,2023,252.70,254.63,242.08,242.68,242.68,125,147,800\nOct,17,,2023,250.10,257.18,247.08,254.85,254.85,93,562,900\nOct,16,,2023,250.05,255.40,248.48,253.92,253.92,88,917,200\nOct,13,,2023,258.90,259.60,250.22,251.12,251.12,102,073,800\nOct,12,,2023,262.92,265.41,256.63,258.87,258.87,111,508,100\nOct,11,,2023,266.20,268.60,260.90,262.99,262.99,103,706,300\nOct,10,,2023,257.75,268.94,257.65,263.62,263.62,122,656,000\nOct,09,,2023,255.31,261.36,252.05,259.67,259.67,101,377,900\nOct,06,,2023,253.98,261.65,250.65,260.53,260.53,117,947,000\nOct,05,,2023,260.00,263.60,256.25,260.05,260.05,119,159,200\nOct,04,,2023,248.14,261.86,247.60,261.16,261.16,129,721,600\nOct,03,,2023,248.61,250.02,244.45,246.53,246.53,101,985,300\nOct,02,,2023,244.81,254.28,242.62,251.60,251.60,123,810,400\nSep,29,,2023,250.00,254.77,246.35,250.22,250.22,128,346,200\nSep,28,,2023,240.02,247.55,238.65,246.38,246.38,117,058,900\nSep,27,,2023,244.26,245.33,234.58,240.50,240.50,136,597,200\nSep,26,,2023,242.98,249.55,241.66,244.12,244.12,101,993,600\nSep,25,,2023,243.38,247.10,238.31,246.99,246.99,104,636,600\nSep,22,,2023,257.40,257.79,244.48,244.88,244.88,127,524,100\nSep,21,,2023,257.85,260.86,254.21,255.70,255.70,119,531,000\nSep,20,,2023,267.04,273.93,262.46,262.59,262.59,122,514,600\nSep,19,,2023,264.35,267.85,261.20,266.50,266.50,103,704,000\nSep,18,,2023,271.16,271.44,263.76,265.28,265.28,101,543,300\nSep,15,,2023,277.55,278.98,271.00,274.39,274.39,133,422,800\nSep,14,,2023,271.32,276.71,270.42,276.04,276.04,107,709,800\nSep,13,,2023,270.07,274.98,268.10,271.30,271.30,111,673,700\nSep,12,,2023,270.76,278.39,266.60,267.48,267.48,135,999,900\nSep,11,,2023,264.27,274.85,260.61,273.58,273.58,174,667,900\nSep,08,,2023,251.22,256.52,246.67,248.50,248.50,118,367,700\nSep,07,,2023,245.07,252.81,243.27,251.49,251.49,115,312,900\nSep,06,,2023,255.14,255.39,245.06,251.92,251.92,116,959,800\nSep,05,,2023,245.00,258.00,244.86,256.49,256.49,129,469,600\nSep,01,,2023,257.26,259.08,242.01,245.01,245.01,132,272,500\nAug,31,,2023,255.98,261.18,255.05,258.08,258.08,108,861,700\nAug,30,,2023,254.20,260.51,250.59,256.90,256.90,121,988,400\nAug,29,,2023,238.58,257.48,237.77,257.18,257.18,134,047,600\nAug,28,,2023,242.58,244.38,235.35,238.82,238.82,107,673,700\nAug,25,,2023,231.31,239.00,230.35,238.59,238.59,106,612,200\nAug,24,,2023,238.66,238.92,228.18,230.04,230.04,99,777,400\nAug,23,,2023,229.34,238.98,229.29,236.86,236.86,101,077,600\nAug,22,,2023,240.25,240.82,229.55,233.19,233.19,130,597,900\nAug,21,,2023,221.55,232.13,220.58,231.28,231.28,135,702,700\nAug,18,,2023,214.12,217.58,212.36,215.49,215.49,135,813,700\nAug,17,,2023,226.06,226.74,218.83,219.22,219.22,120,718,400\nAug,16,,2023,228.02,233.97,225.38,225.60,225.60,112,484,500\nAug,15,,2023,238.73,240.50,232.61,232.96,232.96,88,197,600\nAug,14,,2023,235.70,240.66,233.75,239.76,239.76,98,595,300\nAug,11,,2023,241.77,243.79,238.02,242.65,242.65,98,866,600\nAug,10,,2023,245.40,251.80,243.00,245.34,245.34,109,498,600\nAug,09,,2023,250.87,251.10,241.90,242.19,242.19,101,596,300\nAug,08,,2023,247.45,250.92,245.01,249.70,249.70,96,642,200\nAug,07,,2023,251.45,253.65,242.76,251.45,251.45,111,097,900\nAug,04,,2023,260.97,264.77,253.11,253.86,253.86,99,242,600\nAug,03,,2023,252.04,260.49,252.00,259.32,259.32,97,569,100\nAug,02,,2023,255.57,259.52,250.49,254.11,254.11,101,752,900\nAug,01,,2023,266.26,266.47,260.25,261.07,261.07,83,166,000\nJul,31,,2023,267.48,269.08,263.78,267.43,267.43,84,582,200\nJul,28,,2023,259.86,267.25,258.23,266.44,266.44,111,446,000\nJul,27,,2023,268.31,269.13,255.30,255.71,255.71,103,697,300\nJul,26,,2023,263.25,268.04,261.75,264.35,264.35,95,856,200\nJul,25,,2023,272.38,272.90,265.00,265.28,265.28,112,757,300\nJul,24,,2023,255.85,269.85,254.12,269.06,269.06,136,508,500\nJul,21,,2023,268.00,268.00,255.80,260.02,260.02,161,050,100\nJul,20,,2023,279.56,280.93,261.20,262.90,262.90,175,158,300\nJul,19,,2023,296.04,299.29,289.52,291.26,291.26,142,355,400\nJul,18,,2023,290.15,295.26,286.01,293.34,293.34,112,434,700\nJul,17,,2023,286.63,292.23,283.57,290.38,290.38,131,569,600\nJul,14,,2023,277.01,285.30,276.31,281.38,281.38,119,771,100\nJul,13,,2023,274.59,279.45,270.60,277.90,277.90,112,681,500\nJul,12,,2023,276.33,276.52,271.46,271.99,271.99,95,672,100\nJul,11,,2023,268.65,270.90,266.37,269.79,269.79,91,972,400\nJul,10,,2023,276.47,277.52,265.10,269.61,269.61,119,425,400\nJul,07,,2023,278.43,280.78,273.77,274.43,274.43,113,602,000\nJul,06,,2023,278.09,279.97,272.88,276.54,276.54,120,332,100\nJul,05,,2023,278.82,283.85,277.60,282.48,282.48,131,530,900\nJul,03,,2023,276.49,284.25,275.11,279.82,279.82,119,685,900\nJun,30,,2023,260.60,264.45,259.89,261.77,261.77,112,267,600\nJun,29,,2023,258.03,260.74,253.61,257.50,257.50,131,283,400\nJun,28,,2023,249.70,259.88,248.89,256.24,256.24,159,770,800']

In [6]:
# Date

Date = []

for i in range(1,101):
    
    Date_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[1]'
    
    date = driver.find_element(By.XPATH,
                                 Date_xpath).text
    
    Date.append(date)
    
Date

['Nov 16, 2023',
 'Nov 15, 2023',
 'Nov 14, 2023',
 'Nov 13, 2023',
 'Nov 10, 2023',
 'Nov 09, 2023',
 'Nov 08, 2023',
 'Nov 07, 2023',
 'Nov 06, 2023',
 'Nov 03, 2023',
 'Nov 02, 2023',
 'Nov 01, 2023',
 'Oct 31, 2023',
 'Oct 30, 2023',
 'Oct 27, 2023',
 'Oct 26, 2023',
 'Oct 25, 2023',
 'Oct 24, 2023',
 'Oct 23, 2023',
 'Oct 20, 2023',
 'Oct 19, 2023',
 'Oct 18, 2023',
 'Oct 17, 2023',
 'Oct 16, 2023',
 'Oct 13, 2023',
 'Oct 12, 2023',
 'Oct 11, 2023',
 'Oct 10, 2023',
 'Oct 09, 2023',
 'Oct 06, 2023',
 'Oct 05, 2023',
 'Oct 04, 2023',
 'Oct 03, 2023',
 'Oct 02, 2023',
 'Sep 29, 2023',
 'Sep 28, 2023',
 'Sep 27, 2023',
 'Sep 26, 2023',
 'Sep 25, 2023',
 'Sep 22, 2023',
 'Sep 21, 2023',
 'Sep 20, 2023',
 'Sep 19, 2023',
 'Sep 18, 2023',
 'Sep 15, 2023',
 'Sep 14, 2023',
 'Sep 13, 2023',
 'Sep 12, 2023',
 'Sep 11, 2023',
 'Sep 08, 2023',
 'Sep 07, 2023',
 'Sep 06, 2023',
 'Sep 05, 2023',
 'Sep 01, 2023',
 'Aug 31, 2023',
 'Aug 30, 2023',
 'Aug 29, 2023',
 'Aug 28, 2023',
 'Aug 25, 2023',
 'Aug 24, 2023',
 'Aug 23, 2023',
 'Aug 22, 2023',
 'Aug 21, 2023',
 'Aug 18, 2023',
 'Aug 17, 2023',
 'Aug 16, 2023',
 'Aug 15, 2023',
 'Aug 14, 2023',
 'Aug 11, 2023',
 'Aug 10, 2023',
 'Aug 09, 2023',
 'Aug 08, 2023',
 'Aug 07, 2023',
 'Aug 04, 2023',
 'Aug 03, 2023',
 'Aug 02, 2023',
 'Aug 01, 2023',
 'Jul 31, 2023',
 'Jul 28, 2023',
 'Jul 27, 2023',
 'Jul 26, 2023',
 'Jul 25, 2023',
 'Jul 24, 2023',
 'Jul 21, 2023',
 'Jul 20, 2023',
 'Jul 19, 2023',
 'Jul 18, 2023',
 'Jul 17, 2023',
 'Jul 14, 2023',
 'Jul 13, 2023',
 'Jul 12, 2023',
 'Jul 11, 2023',
 'Jul 10, 2023',
 'Jul 07, 2023',
 'Jul 06, 2023',
 'Jul 05, 2023',
 'Jul 03, 2023',
 'Jun 30, 2023',
 'Jun 29, 2023',
 'Jun 28, 2023']

In [7]:
# Open

Open = []

for i in range(1,101):
    
    Open_xpath='//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[2]'
    
    open = driver.find_element(By.XPATH,
                                 Open_xpath).text
    
    Open.append(open)
    
Open

['239.49',
 '239.29',
 '235.03',
 '215.60',
 '210.03',
 '219.75',
 '223.15',
 '219.98',
 '223.98',
 '221.15',
 '212.97',
 '204.04',
 '196.12',
 '209.28',
 '210.60',
 '211.32',
 '215.88',
 '216.50',
 '210.00',
 '217.01',
 '225.95',
 '252.70',
 '250.10',
 '250.05',
 '258.90',
 '262.92',
 '266.20',
 '257.75',
 '255.31',
 '253.98',
 '260.00',
 '248.14',
 '248.61',
 '244.81',
 '250.00',
 '240.02',
 '244.26',
 '242.98',
 '243.38',
 '257.40',
 '257.85',
 '267.04',
 '264.35',
 '271.16',
 '277.55',
 '271.32',
 '270.07',
 '270.76',
 '264.27',
 '251.22',
 '245.07',
 '255.14',
 '245.00',
 '257.26',
 '255.98',
 '254.20',
 '238.58',
 '242.58',
 '231.31',
 '238.66',
 '229.34',
 '240.25',
 '221.55',
 '214.12',
 '226.06',
 '228.02',
 '238.73',
 '235.70',
 '241.77',
 '245.40',
 '250.87',
 '247.45',
 '251.45',
 '260.97',
 '252.04',
 '255.57',
 '266.26',
 '267.48',
 '259.86',
 '268.31',
 '263.25',
 '272.38',
 '255.85',
 '268.00',
 '279.56',
 '296.04',
 '290.15',
 '286.63',
 '277.01',
 '274.59',
 '276.33',
 '268.65',
 '276.47',
 '278.43',
 '278.09',
 '278.82',
 '276.49',
 '260.60',
 '258.03',
 '249.70']

In [8]:
# High

High = []

for i in range(1,101):
    
    High_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i)+']/td[3]'
    
    high = driver.find_element(By.XPATH,
                                 High_xpath).text
    
    High.append(high)
    
High

['240.88',
 '246.70',
 '238.14',
 '225.40',
 '215.38',
 '220.80',
 '224.15',
 '223.12',
 '226.32',
 '226.37',
 '219.20',
 '205.99',
 '202.80',
 '210.88',
 '212.41',
 '214.80',
 '220.10',
 '222.05',
 '216.98',
 '218.86',
 '230.61',
 '254.63',
 '257.18',
 '255.40',
 '259.60',
 '265.41',
 '268.60',
 '268.94',
 '261.36',
 '261.65',
 '263.60',
 '261.86',
 '250.02',
 '254.28',
 '254.77',
 '247.55',
 '245.33',
 '249.55',
 '247.10',
 '257.79',
 '260.86',
 '273.93',
 '267.85',
 '271.44',
 '278.98',
 '276.71',
 '274.98',
 '278.39',
 '274.85',
 '256.52',
 '252.81',
 '255.39',
 '258.00',
 '259.08',
 '261.18',
 '260.51',
 '257.48',
 '244.38',
 '239.00',
 '238.92',
 '238.98',
 '240.82',
 '232.13',
 '217.58',
 '226.74',
 '233.97',
 '240.50',
 '240.66',
 '243.79',
 '251.80',
 '251.10',
 '250.92',
 '253.65',
 '264.77',
 '260.49',
 '259.52',
 '266.47',
 '269.08',
 '267.25',
 '269.13',
 '268.04',
 '272.90',
 '269.85',
 '268.00',
 '280.93',
 '299.29',
 '295.26',
 '292.23',
 '285.30',
 '279.45',
 '276.52',
 '270.90',
 '277.52',
 '280.78',
 '279.97',
 '283.85',
 '284.25',
 '264.45',
 '260.74',
 '259.88']

In [9]:
# Low

Low = []

for i in range(1,101):
    
    Low_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[4]'
    
    low = driver.find_element(By.XPATH,
                                 Low_xpath).text
    
    Low.append(low)
    
Low

['230.96',
 '236.45',
 '230.72',
 '211.61',
 '205.69',
 '206.68',
 '217.64',
 '215.72',
 '215.00',
 '218.40',
 '211.45',
 '197.85',
 '194.07',
 '194.67',
 '205.77',
 '204.88',
 '212.20',
 '214.11',
 '202.51',
 '210.42',
 '216.78',
 '242.08',
 '247.08',
 '248.48',
 '250.22',
 '256.63',
 '260.90',
 '257.65',
 '252.05',
 '250.65',
 '256.25',
 '247.60',
 '244.45',
 '242.62',
 '246.35',
 '238.65',
 '234.58',
 '241.66',
 '238.31',
 '244.48',
 '254.21',
 '262.46',
 '261.20',
 '263.76',
 '271.00',
 '270.42',
 '268.10',
 '266.60',
 '260.61',
 '246.67',
 '243.27',
 '245.06',
 '244.86',
 '242.01',
 '255.05',
 '250.59',
 '237.77',
 '235.35',
 '230.35',
 '228.18',
 '229.29',
 '229.55',
 '220.58',
 '212.36',
 '218.83',
 '225.38',
 '232.61',
 '233.75',
 '238.02',
 '243.00',
 '241.90',
 '245.01',
 '242.76',
 '253.11',
 '252.00',
 '250.49',
 '260.25',
 '263.78',
 '258.23',
 '255.30',
 '261.75',
 '265.00',
 '254.12',
 '255.80',
 '261.20',
 '289.52',
 '286.01',
 '283.57',
 '276.31',
 '270.60',
 '271.46',
 '266.37',
 '265.10',
 '273.77',
 '272.88',
 '277.60',
 '275.11',
 '259.89',
 '253.61',
 '248.89']

In [10]:
# Close*

Close = []

for i in range(1,101):
    
    Close_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[5]'
    
    close = driver.find_element(By.XPATH,
                                 Close_xpath).text
    
    Close.append(close)
    
Close

['233.59',
 '242.84',
 '237.41',
 '223.71',
 '214.65',
 '209.98',
 '222.11',
 '222.18',
 '219.27',
 '219.96',
 '218.51',
 '205.66',
 '200.84',
 '197.36',
 '207.30',
 '205.76',
 '212.42',
 '216.52',
 '212.08',
 '211.99',
 '220.11',
 '242.68',
 '254.85',
 '253.92',
 '251.12',
 '258.87',
 '262.99',
 '263.62',
 '259.67',
 '260.53',
 '260.05',
 '261.16',
 '246.53',
 '251.60',
 '250.22',
 '246.38',
 '240.50',
 '244.12',
 '246.99',
 '244.88',
 '255.70',
 '262.59',
 '266.50',
 '265.28',
 '274.39',
 '276.04',
 '271.30',
 '267.48',
 '273.58',
 '248.50',
 '251.49',
 '251.92',
 '256.49',
 '245.01',
 '258.08',
 '256.90',
 '257.18',
 '238.82',
 '238.59',
 '230.04',
 '236.86',
 '233.19',
 '231.28',
 '215.49',
 '219.22',
 '225.60',
 '232.96',
 '239.76',
 '242.65',
 '245.34',
 '242.19',
 '249.70',
 '251.45',
 '253.86',
 '259.32',
 '254.11',
 '261.07',
 '267.43',
 '266.44',
 '255.71',
 '264.35',
 '265.28',
 '269.06',
 '260.02',
 '262.90',
 '291.26',
 '293.34',
 '290.38',
 '281.38',
 '277.90',
 '271.99',
 '269.79',
 '269.61',
 '274.43',
 '276.54',
 '282.48',
 '279.82',
 '261.77',
 '257.50',
 '256.24']

In [11]:
# Adj Close**

Adj_Close = []

for i in range(1,101):
    
    AdjClose_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[6]'
    
    adj = driver.find_element(By.XPATH,
                                 AdjClose_xpath).text
    
    Adj_Close.append(adj)
    
Adj_Close

['233.59',
 '242.84',
 '237.41',
 '223.71',
 '214.65',
 '209.98',
 '222.11',
 '222.18',
 '219.27',
 '219.96',
 '218.51',
 '205.66',
 '200.84',
 '197.36',
 '207.30',
 '205.76',
 '212.42',
 '216.52',
 '212.08',
 '211.99',
 '220.11',
 '242.68',
 '254.85',
 '253.92',
 '251.12',
 '258.87',
 '262.99',
 '263.62',
 '259.67',
 '260.53',
 '260.05',
 '261.16',
 '246.53',
 '251.60',
 '250.22',
 '246.38',
 '240.50',
 '244.12',
 '246.99',
 '244.88',
 '255.70',
 '262.59',
 '266.50',
 '265.28',
 '274.39',
 '276.04',
 '271.30',
 '267.48',
 '273.58',
 '248.50',
 '251.49',
 '251.92',
 '256.49',
 '245.01',
 '258.08',
 '256.90',
 '257.18',
 '238.82',
 '238.59',
 '230.04',
 '236.86',
 '233.19',
 '231.28',
 '215.49',
 '219.22',
 '225.60',
 '232.96',
 '239.76',
 '242.65',
 '245.34',
 '242.19',
 '249.70',
 '251.45',
 '253.86',
 '259.32',
 '254.11',
 '261.07',
 '267.43',
 '266.44',
 '255.71',
 '264.35',
 '265.28',
 '269.06',
 '260.02',
 '262.90',
 '291.26',
 '293.34',
 '290.38',
 '281.38',
 '277.90',
 '271.99',
 '269.79',
 '269.61',
 '274.43',
 '276.54',
 '282.48',
 '279.82',
 '261.77',
 '257.50',
 '256.24']

In [12]:
# Volume

Volume = []

for i in range(1,101):
    
    Volume_xpath= '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+ str(i) +']/td[7]'
    
    Vlm = driver.find_element(By.XPATH,
                                 Volume_xpath).text
    
    Volume.append(Vlm)
    
Volume

['136,816,800',
 '150,354,000',
 '149,771,600',
 '140,447,600',
 '130,994,000',
 '142,110,500',
 '106,584,800',
 '116,900,100',
 '117,335,800',
 '119,281,000',
 '125,987,600',
 '121,661,700',
 '118,068,300',
 '136,448,200',
 '94,881,200',
 '115,112,600',
 '107,065,100',
 '118,231,100',
 '150,683,400',
 '137,734,000',
 '170,772,700',
 '125,147,800',
 '93,562,900',
 '88,917,200',
 '102,073,800',
 '111,508,100',
 '103,706,300',
 '122,656,000',
 '101,377,900',
 '117,947,000',
 '119,159,200',
 '129,721,600',
 '101,985,300',
 '123,810,400',
 '128,346,200',
 '117,058,900',
 '136,597,200',
 '101,993,600',
 '104,636,600',
 '127,524,100',
 '119,531,000',
 '122,514,600',
 '103,704,000',
 '101,543,300',
 '133,422,800',
 '107,709,800',
 '111,673,700',
 '135,999,900',
 '174,667,900',
 '118,367,700',
 '115,312,900',
 '116,959,800',
 '129,469,600',
 '132,272,500',
 '108,861,700',
 '121,988,400',
 '134,047,600',
 '107,673,700',
 '106,612,200',
 '99,777,400',
 '101,077,600',
 '130,597,900',
 '135,702,700',
 '135,813,700',
 '120,718,400',
 '112,484,500',
 '88,197,600',
 '98,595,300',
 '98,866,600',
 '109,498,600',
 '101,596,300',
 '96,642,200',
 '111,097,900',
 '99,242,600',
 '97,569,100',
 '101,752,900',
 '83,166,000',
 '84,582,200',
 '111,446,000',
 '103,697,300',
 '95,856,200',
 '112,757,300',
 '136,508,500',
 '161,050,100',
 '175,158,300',
 '142,355,400',
 '112,434,700',
 '131,569,600',
 '119,771,100',
 '112,681,500',
 '95,672,100',
 '91,972,400',
 '119,425,400',
 '113,602,000',
 '120,332,100',
 '131,530,900',
 '119,685,900',
 '112,267,600',
 '131,283,400',
 '159,770,800']

In [13]:
# Converting Into Data Frame
Historical_Prices_Tesla = pd.DataFrame({ "Date":Date,
                                         "Open":Open,
                                         "High":High,
                                         "Low":Low,
                                         "Close*":Close,
                                         "Adj Clsoe**": Adj_Close,
                                         "Volume":Volume})

# Display Data Frame
Historical_Prices_Tesla

            Date    Open    High     Low  Close* Adj Clsoe**       Volume
0   Nov 16, 2023  239.49  240.88  230.96  233.59      233.59  136,816,800
1   Nov 15, 2023  239.29  246.70  236.45  242.84      242.84  150,354,000
2   Nov 14, 2023  235.03  238.14  230.72  237.41      237.41  149,771,600
3   Nov 13, 2023  215.60  225.40  211.61  223.71      223.71  140,447,600
4   Nov 10, 2023  210.03  215.38  205.69  214.65      214.65  130,994,000
..           ...     ...     ...     ...     ...         ...          ...
95  Jul 05, 2023  278.82  283.85  277.60  282.48      282.48  131,530,900
96  Jul 03, 2023  276.49  284.25  275.11  279.82      279.82  119,685,900
97  Jun 30, 2023  260.60  264.45  259.89  261.77      261.77  112,267,600
98  Jun 29, 2023  258.03  260.74  253.61  257.50      257.50  131,283,400
99  Jun 28, 2023  249.70  259.88  248.89  256.24      256.24  159,770,800

[100 rows x 7 columns]

In [14]:
# Close the Driver
driver.close()

# THE END...!